.container{
    margin: 50px 0;
    width: 100vw;
}

.card{
    margin: 0 2% !important;
    /*  */
    color:white;
}
.infected{
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    background-color: rgba(0, 0, 255, 0.5);
}
.recoverd{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);

    background-color: rgba(0, 255, 0, 0.5);
}
.deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);

    background-color: rgba(255, 0, 0, 0.5);
}
